/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .app-container {
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
  font-family: 'Pretendard', sans-serif;
}


/* 전체 레이아웃 설정 */
.app-container {
  display: flex;
}

/* 로고 이미지 스타일*/
.logo-img {
  height: 40px;
  margin-left: 20px;
  vertical-align: middle;
}

/*로고 텍스트 스타일*/
.logo{
  margin-top: 2px;
  margin-left: -15px;
  font-family: 'Gaegu', sans-serif;
  font-size: 40px;
  font-weight: bold;
}


/* 로고 스타일 (사이드바 펼쳐져 있을 때) */
.main-header {
  display: flex;  /* 요소들을 가로로 정렬 */
  align-items: center;  /* 세로 가운데 정렬 */
  position: absolute;
  top: -5px;
  left: 270px;
  transition: left 0.3s ease, top 0.3s ease;
}

/* 로고 스타일 (사이드바 접히면 로고 위치 조정) */
.sidebar.collapsed + .main-header {
  left: 50px;
}

/* 메인 컨텐츠 */
.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* 사이드바 공간 확보 */
  transition: margin-left 0.3s ease;
}

/* 사이드바 접혔을 때 메인화면 확장 */
.main-content.expanded {
  margin-left: 0;
}

/* 강의 제목 및 설명 입력 모달 */
.course-edit-modal {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 380px;
  height: 230px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 강의 정보 입력 모달창 제목 */
.course-title{
  font-size: 18px;
}

.course-edit-modal input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


/* 닫기 버튼 아이콘 */
.close-button {
  position: absolute;
  top: 10px;
  right: -10px;
  background: none; /* 배경 제거 */
  border: none;
  font-size: 24px; /* 아이콘 크기 */
  cursor: pointer;
  padding: 0; /* 불필요한 여백 제거 */
  width: auto; /* 아이콘 크기에 맞춤 */
  height: auto; /* 아이콘 크기에 맞춤 */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; /* 기본 색상 */
}

.close-button:hover {
  color: rgb(169, 169, 169);
}

/* 기존 저장 버튼 스타일 유지 */
.course-edit-modal button:not(.close-button) {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #000;;
  color: white;
  cursor: pointer;
  width: 100%;
}

.edit-modal button:not(.close-button):hover {
  background-color: #333;
}